

header{
  display: flex;
  justify-content: space-between;
}

.navheader{

display: flex;
justify-content: space-around;
text-align: center;
width: 10rem;
list-style-type: none;
height: 5rem;
align-items: center;
}
